.btn {
  border: none;
  border-radius: 3px;
  padding: 0 3.5rem;
  height: 5rem;
  min-width: 16.5rem;
  width: auto;

  font-size: 1.5rem;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background-color: var(--color-black);
  color: var(--color-white);
  transition: all .1s ease-in;

  &:hover,
  &:active {
    color: var(--color-black);
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
  }
}
