.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  height: 8rem;

  &__img {
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 0.2rem;
  }

  &__details {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
    width: 70%;
    height: 100%;
  }
}
